@(geneIds: Option[String])(implicit request: RequestHeader)
@user.protein.main("蛋白GO富集分析")("goEnrich") {
	<div class="page-content">

		<div class="page-bar">
			<ul class="page-breadcrumb">
				<li>
					<i class="fa fa-map"></i>
					<a href="#">蛋白GO富集分析</a>
				</li>
			</ul>
		</div>


		<div class="row-fluid">

			<div class="row">
				<div class="col-md-12 col-sm-12">
					<div class="portlet green-jungle box">
						<div class="portlet-title">
							<div class="caption">
								设置参数
							</div>
						</div>

						<div class="portlet-body">

							<form class="registration-form" id="form"
							accept-charset="UTF-8" method="post">

								<div class="row">
									<div class="col-sm-6">
										<div class="form-group">
											<label class="control-label">蛋白ID（一行代表一个蛋白，注意前后不要有空白字符）:</label>
											@if(geneIds.isDefined) {
												<textarea name="geneId" id="geneId" class="form-control" rows="10">@geneIds.get</textarea>
											} else {
												<textarea name="geneId" id="geneId" class="form-control" rows="10"></textarea>
											}
											<span class="help-block">e.g.,&nbsp;<a href="#"><em id="egGene">
												示例</em></a></span>
										</div>
									</div>
								</div>

								<div class="row" style="display: none">
									<div class="form-group  col-sm-4">
										<label class="control-label">
											请选择显著水平值:</label>
										<select class="form-control" name="twa">
											<option value="0.01">0.01</option>
											<option value="0.05" selected="selected">0.05</option>
										</select>
									</div>
								</div>

								<div class="row">
									<div class="col-sm-4">
										<div class="form-group">
											<label class="control-label">
												p值阈值: </label>
											<input class="form-control" name="ewa" id="ewa" value="0.05">
										</div>
									</div>
								</div>


								<div class="row">
									<div class="form-group">
										<div class="actions col-sm-2">
											<button type="button" class="btn btn-primary" style="width: 90%;" id="search" onclick="mySearch()">
												运行</button>
										</div>

										@*<div class="actions col-sm-2">*@
										@*<button type="reset" class="btn btn-primary" style="width: 90%;">*@
										@*重置</button>*@
										@*</div>*@

									</div>
								</div>


							</form>

						</div>
					</div>
				</div>
			</div>

			<div id="result" style="display: none">
				<div class="row">
					<div class="col-md-12 col-sm-12">
						<div class="portlet green-jungle box">
							<div class="portlet-title">
								<div class="caption">
									GO富集结果
								</div>
							</div>

							<div class="portlet-body">
								<label>显示的列:</label>
								<div id="checkbox" class="checkbox">

								</div>

								<div class="table-responsive">

									<table class="display table table-bordered" id="table" data-pagination="true" data-search="true"
									data-toolbar="#toolbar" data-page-list="[10, 25, 50, 100, all]" data-search-align="right"
									data-multiple-search="true"
									style="table-layout: fixed;
										word-wrap: break-word"
									data-show-export="true" data-export-types="['excel','txt']" data-export-data-type="all"
									>
										<thead>
											<tr>
												<th data-field='id' data-sortable='true' title="id"
												data-formatter="goIDFmt">id</th>
												<th data-field='description' data-sortable='true' title="description">
													description</th>
												<th data-field='ratio_in_study' data-sortable='true' title="ratio_in_study">
													ratio_in_study</th>
												<th data-field='ratio_in_pop' data-sortable='true' title="ratio_in_pop">
													ratio_in_pop</th>
												<th data-field='p_uncorrected' data-sortable='true' title="p_uncorrected">
													p_uncorrected</th>
												<th data-field='p_bonferroni' data-sortable='true' title="p_bonferroni">
													p_bonferroni</th>
												<th data-field='p_holm' data-sortable='true' title="p_holm">p_holm</th>
												<th data-field='namespace' data-sortable='true' title="namespace">
													namespace</th>
												<th data-field='genes_in_study' data-sortable='true' title="genes_in_study"
												data-formatter="proteinIDScFmt">protein_in_study</th>
											</tr>
										</thead>
									</table>

								</div>

								<form class="registration-form form-horizontal" id="plotForm"
								accept-charset="UTF-8" method="post">

									<div class="form-group">
										<label class="control-label col-sm-1">ID:</label>
										<div class="col-sm-6" >
											<select class="form-control term" name="terms" id="term" multiple="multiple"
											style="width: 100%">

											</select>
										</div>
									</div>

									<div class="form-group">
										<div class="actions col-sm-offset-1 col-sm-1">
											<button type="button" class="btn btn-default" id="search" onclick="selectAll()" style="width: 80%">
												全选</button>
										</div>
										<div class="actions col-sm-1">
											<button type="button" class="btn btn-default" id="search" onclick="reverseSelect()" style="width: 80%">
												反选</button>
										</div>

										<div class="actions col-sm-1">
											<button type="button" class="btn btn-default" id="search" onclick="selectTop10()" style="width: 80%">
												top 10</button>
										</div>
										<div class="actions col-sm-1">
											<button type="button" class="btn btn-default" id="search" onclick="selectTop20()" style="width: 80%">
												top 20</button>
										</div>
									</div>

									<div class="form-group">
										<div class="actions col-sm-offset-1 col-sm-3">
											<button type="button" class="btn btn-primary" style="width: 90%;" id="search" onclick="plotBar()">
												富集结果柱状图（富集蛋白个数）</button>
										</div>
										<div class="actions  col-sm-3">
											<button type="button" class="btn btn-primary" style="width: 90%;" id="search" onclick="pie()">
												富集结果饼图（富集蛋白个数）</button>
										</div>
										<div class="actions  col-sm-3">
											<button type="button" class="btn btn-primary" style="width: 90%;" id="search" onclick="plotBar1()">
												富集结果柱状图（富集检验p值）</button>
										</div>
									</div>

									<hr style="border-top: 2px solid #eee;">

									<div id="charts" align="center">没有图片结果生成！</div>
								</form>


							</div>
						</div>
					</div>
				</div>

				<div class="row">
					<div class="col-md-12 col-sm-12">
						<div class="portlet green-jungle box">
							<div class="portlet-title">
								<div class="caption">
									引用
								</div>
							</div>
							<div class="portlet-body">
								<p class="paragraph">
									分析模块引用了<b>goatools</b>（v0.5.7）软件
									（<a href="https://github.com/tanghaibao/goatools/" target="_blank">
									https://github.com/tanghaibao/goatools/</a>）。
								</p>
								<p class="paragraph">
									相关文献如下所示：
								</p>
								<p class="paragraph">
									Haibao Tang et al. (2015). GOATOOLS: Tools for Gene Ontology. Zenodo. 10.5281/zenodo.31628.
								</p>

							</div>

						</div>
					</div>
				</div>
			</div>

		</div>

	</div>


	<script>
			function proteinIDScFmt(value, row, index) {
				var proteins = value.split(";")
				var proteinStr = $.map(proteins, function (v) {
					return "<a onclick=\"showExp('" + v + "')\">" + v + "</a>"
				}).join("&nbsp;;&nbsp;")
				return proteinStr
			}

			function goIDFmt(value, row, index) {
				var idStr = "<a href='http://amigo.geneontology.org/amigo/term/" + value + "' target='_blank'>" + value + "</a>"
				return idStr
			}

			var myData

			function selectAll() {
				$("#term > option").prop("selected", "selected")
				$("#term").trigger("change");
				$("#plotForm").bootstrapValidator("revalidateField", "terms")
			}

			function selectTop20() {
				$("#term > option").prop("selected", false)
				$("#term").trigger("change")
				$("#term > option").slice(0, 20).prop("selected", "selected")
				$("#term").trigger("change");
				$("#plotForm").bootstrapValidator("revalidateField", "terms")
			}

			function selectTop10() {
				$("#term > option").prop("selected", false)
				$("#term").trigger("change")
				$("#term > option").slice(0, 10).prop("selected", "selected")
				$("#term").trigger("change")
				$("#plotForm").bootstrapValidator("revalidateField", "terms")
			}

			function reverseSelect() {
				$("#term > option").prop("selected", false)
				$("#term").trigger("change");
				$("#plotForm").bootstrapValidator("revalidateField", "terms")
			}

			function plotBar() {
				var form = $("#plotForm")
				var fv = form.data("bootstrapValidator")
				fv.validate()
				if (fv.isValid()) {
					var element = "<div id='content'><span id='info'>" + zhRunning + "</span>&nbsp;<img class='runningImage' src='@routes.Assets.at("images/running2.gif")' style='width: 30px;height: 20px;'></div>"
					var index = layer.alert(element, {
						skin: 'layui-layer-molv'
						, closeBtn: 0,
						title: zhInfo,
						btn: []
					});
					var terms = $("#term").val()
					var tmpDatas = $.grep(myData, function (v) {
						return $.inArray(v.description, terms) >= 0
					})
					var numbers = $.map(tmpDatas, function (v) {
						var value = v.ratio_in_study.split("/")
						return value[0]
					})
					var kinds = $.map(tmpDatas, function (v) {
						return v.namespace
					})
					$.ajax({
						url: "@routes.ProteinController.goBarPlot()",
						type: "post",
						data: {
							terms: $("#term").val(),
							datas: numbers,
							kinds: kinds
						},
						success: function (data) {
							layer.close(index)
							if (data.valid == "false") {
								$("#charts").html("没有图片结果生成！")
								swal("错误", data.message, "error")
							} else {
								$("#charts").html(data.div)
							}
						}
					});
				}
			}

			function plotBar1() {
				var form = $("#plotForm")
				var fv = form.data("bootstrapValidator")
				fv.validate()
				if (fv.isValid()) {
					var element = "<div id='content'><span id='info'>" + zhRunning + "</span>&nbsp;<img class='runningImage' src='@routes.Assets.at("images/running2.gif")' style='width: 30px;height: 20px;'></div>"
					var index = layer.alert(element, {
						skin: 'layui-layer-molv'
						, closeBtn: 0,
						title: zhInfo,
						btn: []
					});
					var terms = $("#term").val()
					var tmpDatas = $.grep(myData, function (v) {
						return $.inArray(v.description, terms) >= 0
					})
					var numbers = $.map(tmpDatas, function (v) {
						return v.p_uncorrected
					})
					var kinds = $.map(tmpDatas, function (v) {
						return v.namespace
					})
					$.ajax({
						url: "@routes.ProteinController.goPBarPlot()",
						type: "post",
						data: {
							terms: $("#term").val(),
							datas: numbers,
							kinds: kinds
						},
						success: function (data) {
							layer.close(index)
							if (data.valid == "false") {
								$("#charts").html("没有图片结果生成！")
								swal("错误", data.message, "error")
							} else {
								$("#charts").html(data.div)
							}

						}
					});
				}
			}

			function pie() {
				var form = $("#plotForm")
				var fv = form.data("bootstrapValidator")
				fv.validate()
				if (fv.isValid()) {
					var element = "<div id='content'><span id='info'>" + zhRunning + "</span>&nbsp;<img class='runningImage' src='@routes.Assets.at("images/running2.gif")' style='width: 30px;height: 20px;'></div>"
					var index = layer.alert(element, {
						skin: 'layui-layer-molv'
						, closeBtn: 0,
						title: zhInfo,
						btn: []
					});
					var terms = $("#term").val()
					var tmpDatas = $.grep(myData, function (v) {
						return $.inArray(v.description, terms) >= 0
					})
					var numbers = $.map(tmpDatas, function (v) {
						var value = v.ratio_in_study.split("/")
						return value[0]
					})
					$.ajax({
						url: "@routes.ProteinController.pie()",
						type: "post",
						data: {
							terms: $("#term").val(),
							datas: numbers
						},
						success: function (data) {
							layer.close(index)
							if (data.valid == "false") {
								$("#charts").html("没有图片结果生成！")
								swal("错误", data.message, "error")
							} else {
								$("#charts").html(data.div)
							}
						}
					});
				}
			}

			$(function () {
				$(".term").select2()

				$('#egGene').click(function () {
					$.ajax({
						url: "@routes.ProteinController.getFirst10GeneIdByLf()",
						type: "get",
						success: function (data) {
							$('#geneId').val(data);
							$("#form").bootstrapValidator("revalidateField", "geneId")
							return false
						}
					})
				});

				$.ajax({
					url: "@routes.ProteinController.getGeneIds()",
					type: "get",
					success: function (data) {
						$('#geneId').typeahead({
							source: data.geneIds,
							updater: function (item) {
								return this.$element.val().replace(matcherRegex, '') + item + matcherEnd;
							},
							matcher: function (item) {
								var tquery = extractor(this.query);
								if (!tquery) return false;
								return ~item.toLowerCase().indexOf(tquery.toLowerCase())
							},
							highlighter: function (item) {
								var query = extractor(this.query).replace(/[\-\[\]{}()*+?.,\\\^$|#\s]/g, '\\$&')
								return item.replace(new RegExp('(' + query + ')', 'ig'), function ($1, match) {
									return '<strong>' + match + '</strong>'
								})
							}
						})
					}
				})

				var array = ["description", "ratio_in_study", "ratio_in_pop", "p_uncorrected",
					"p_bonferroni", "p_holm", "namespace", "protein_in_study"]
				var values = ["description", "ratio_in_study", "ratio_in_pop", "p_uncorrected",
					"p_bonferroni", "p_holm", "namespace", "genes_in_study"]
				var html = ""
				$.each(array, function (n, value) {
							html += "<label style='margin-right: 15px'>" +
									"<input type='checkbox' checked='checked' value='" + values[n] + "' onclick=\"setColumns('" + values[n] + "')\">" + value +
									"</label>"
						}
				);
				$("#checkbox").append(html)
				$('#table').bootstrapTable({
					exportOptions: {
						csvSeparator: "\t"
					},
				});


				bootstrapValidator()


			})


			function mySearch() {
				var form = $("#form")
				var fv = form.data("bootstrapValidator")
				fv.validate()
				if (fv.isValid()) {
					var element = "<div id='content'><span id='info'>" + zhRunning + "</span>&nbsp;<img class='runningImage' src='@routes.Assets.at("images/running2.gif")' style='width: 30px;height: 20px;'></div>"
					var index = layer.alert(element, {
						skin: 'layui-layer-molv'
						, closeBtn: 0,
						title: zhInfo,
						btn: []
					});
					$.ajax({
						url: "@routes.ProteinController.goEnrich()",
						type: "post",
						data: $("#form").serialize(),
						success: function (data) {
							layer.close(index)
							if (data.valid == "false") {
								swal("错误", data.message, "error")
								$("#result").hide()
							} else {
								$("#plotForm").show()
								myData = data
								var terms = $.map(data, function (v) {
									return v.description
								})
								$(".term").select2({
									data: terms,
									placeholder: "点击选择",
									allowClear: true
								})
								$('#table').bootstrapTable("load", data);
								$("#result").show()
							}
						}
					});
				}
			}

			function bootstrapValidator() {
				var infinityNumber = Number.MAX_VALUE
				$('#form').bootstrapValidator({
					framework: 'bootstrap',
					icon: {
						valid: 'glyphicon glyphicon-ok',
						invalid: 'glyphicon glyphicon-remove',
						validating: 'glyphicon glyphicon-refresh'
					},
					fields: {
						geneId: {
							validators: {
								notEmpty: {
									message: '蛋白ID不能为空！'
								},
							}
						},
						ewa: {
							validators: {
								notEmpty: {
									message: 'p值阈值不能为空!'
								},
								numeric: {
									message: "p值阈值必须是数字!"
								},
								between: {
									min: "0",
									max: infinityNumber,
									message: "p值阈值不能小于0!"
								}
							}
						},

					}
				});

				$('#plotForm').bootstrapValidator({
					framework: 'bootstrap',
					icon: {
						valid: 'glyphicon glyphicon-ok',
						invalid: 'glyphicon glyphicon-remove',
						validating: 'glyphicon glyphicon-refresh'
					},
					fields: {
						terms: {
							validators: {
								callback: {
									message: '请至少选择一个Id！',
									callback: function (value, validator, $field) {
										var options = validator.getFieldElements('terms').val();
										return (options != null);
									}
								}
							}
						},
					}
				});
			}

			function setColumns(value) {
				var element = $("input:checkbox[value=" + value + "]")
				if (element.is(":checked")) {
					$('#table').bootstrapTable('showColumn', value);
				} else {
					$('#table').bootstrapTable('hideColumn', value);
				}
			}

	</script>

}