div#wrapcontent {
    clear: left;
}

div#wrapcontent {
    min-height: 100%;
    height: auto;
    margin: 0;
    padding: 20px 30px 10px 30px;
    /*background-color: #46B37A;*/
    background-color: #43B0CB;
}

* {
    margin: 0;
    padding: 0;
    border: 0;
}

div#content_1 {
    width: 100%;
}

#tx_pmtree_pi1_browser_wrap {
    margin-left: -15px;
}
#cartStats {
    float: right;
    background: white;
    clear: both;
    min-width: 11em;
    padding: 0 15px;
    margin-right: 15px;
}

#cartContent {
    margin-right: 5px;
}

.slvbtn {
    border: 1px solid white;
    cursor: pointer;
}

.slvbtn {
    border: 1px solid white;
    cursor: pointer;
}

.slvbtn {
    border: 1px solid white;
    cursor: pointer;
}
.tx_pmtree_pi1_browser_spacer {
    clear: both;
    height: 8px;
}
#tx_pmtree_pi1_path {
    margin: 5px 15px 5px 5px;
    width: 100%;
    text-align: left;
    font: 9pt sans-serif;
}
#tx_pmtree_pi1_path span {
    padding: 0 2px;
    margin-right: 3px;
}
.pathVisible {
    background-color: white;
    padding-right: 10px;
}
#tx_pmtree_pi1_path span a:link, #tx_pmtree_pi1_path span a:visited, #tx_pmtree_pi1_path span a:focus {
    color: black;
}
.arrowBlack a {
    padding-right: 3px;
}
#tx_pmtree_pi1_browser {
    height: 500px;
    width: 1120px;
    overflow: hidden;
    color: #000;
    font: 9pt sans-serif;
}
.tx_pmtree_pi1_navi {
    height: 500px;
    width: 10px;
    float: left;
}
#tx_pmtree_pi1_navi_left {
    padding: 150px 0;
    float: left;
}
#tx_pmtree_pi1_root {
    margin: 0 0 0 5px;
    float: left;
    text-align: left;
}
.tx_pmtree_pi1_browserbox {
    width: 153px;
    height: 500px;
    background-color: white;
    float: left;
    margin-right: 5px;
    margin-bottom: 20px;
}
.tx_pmtree_pi1_browserbox p.title, .tx_pmtree_pi1_detail p.title {
    padding-left: 5px;
    border-bottom: 1px solid #b3d7ee;
    padding-top: 3px;
    padding-bottom: 3px;
}
body, h1, h2, h3, h4, h5, h6, p, td, form, input, select, textarea {
    color: #000;
    line-height: 1.3em;
}
.tx_pmtree_pi1_browserbox p.title span a, .tx_pmtree_pi1_detail p.title span a {
    padding-right: 4px;
}
.tx_pmtree_pi1_browserbox a:link, .tx_pmtree_pi1_browserbox a:visited, .tx_pmtree_pi1_browserbox a:focus, .tx_pmtree_pi1_browserbox a:active {
    color: black;
}
div.tabs {
    height: 18px;
}
div.tabs span.node a:link, div.tabs span.node a:visited, div.tabs span.node a:focus, div.tabs span.node a:active {
    padding: 0;
    margin: 0;
    color: black;
}
.tx_pmtree_pi1_browserbox a:link, .tx_pmtree_pi1_browserbox a:visited, .tx_pmtree_pi1_browserbox a:focus, .tx_pmtree_pi1_browserbox a:active {
    color: black;
}
div.tabsNavi {
    padding-left: 5px;
}
div.nodes {
    overflow: auto;
    height: 457px;
}
li.folder {
    line-height: 1.3em;
}
.open {
}
li {
    max-width: 47em;
}
iv.nodes ul li a:link, div.nodes ul li a:visited, div.nodes ul li a:focus, div.nodes ul li a:active {
    padding: 0 7px 0 0;
}
li.folder a:link, li.folder a:visited, li.folder a:focus, li.folder a:active {
    margin-left: 5px;
}
.tx_pmtree_pi1_browserbox a:link, .tx_pmtree_pi1_browserbox a:visited, .tx_pmtree_pi1_browserbox a:focus, .tx_pmtree_pi1_browserbox a:active {
    color: black;
}
