@()(implicit request: RequestHeader)
@main("关于我们") {
	<style>
			.carousel-caption {
				background-color: #555;
				opacity: 0.8;
				z-index: 1;
				width: 100%;
				bottom: 0;
				padding-top: 0;
				right: 30%;
				left: 0;
				padding-bottom: 0
			}

			a:hover {
				cursor: pointer;
			}

			a:hover, a:focus {
				color: white;
				text-decoration: underline;
			}

			a {
				color: white;
			}
	</style>

	<div class="panel panel-default">
		<div class="panel-body">
			<div class="row">
				<div class="col-sm-12">
					<h4 style="font-weight: bold">关于我们</h4>
					<p class="text-justify" style="font-size: 15px;
						text-indent: 2em">
						三级生物安全防护（BSL-3）实验室作为从事高致病性微生物实验活动的必备设施，
						对科学研究、反恐应急和生物安全教学起到非常重要且不可替代的作用。目前，教育部通过国家认可委评定并且获得卫生部实验活动资格的三级生物安全防护实验室只有三个单位，复旦大学BSL-3实验室是其中之一。许多相关高致病性微生物的实验活动必须在BSL-3实验室内开展才能保证生物安全，同时，作为应对突发传染病事件的一部分，BSL-3实验室也承担相当重要的任务。
					</p>
					<p class="text-justify" style="font-size: 15px;
						text-indent: 2em">
						生物安全在国内是一个较新的领域，国家标准仍不明确，很多问题没有现成的参照和标准，需要不断思考与探索。BSL-3实验室又不同于一般的实验室，它是集多个大型仪器设备于一体的具有生物安全防护性能的设施，必须系统性地协调以保证实验室压力的稳定，保证实验室的生物安全。
						<br></p>


				</div>


			</div>



		</div>

	</div>


}
